/* Text */
.custom-textfield {
  padding: 8px;
  border: 1px solid var(--border);
  border-radius: 4px;
  outline: none;
}

.custom-textfield::placeholder {
  color: var(--border);
  font-style: italic;
}
